@model List<Recipes>
@using C2108G1_Project_3.Repository
@using C2108G1_Project_3.Models
@inject IRecipesRepository recipesRepository

@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";


}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">Product</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Recipes</p>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Best Recipes We Offer For Ice Cream Lovers</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 text-center">
                <ul class="list-inline mb-4 pb-2" id="portfolio-flters">
                    <li class="btn btn-sm btn-outline-primary m-1 active" data-filter="*">All</li>
                    <li class="btn btn-sm btn-outline-primary m-1" data-filter="">Vanilla</li>
                    <li class="btn btn-sm btn-outline-primary m-1" data-filter=".second">Chocolate</li>
                    <li class="btn btn-sm btn-outline-primary m-1" data-filter=".third">Fruit & Nut</li>
                </ul>
            </div>
        </div>


        <div class="row">
            @if (Model.Count > 0)
            { 
                @foreach (var recipe in Model)
                {
                    <div class="col-lg-3 col-md-6 mb-4 pb-2">
                        <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">

                            <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                                <img class="rounded-circle w-100 h-100" src="~/UploadImg/@recipe.thumbnail" style="object-fit: cover;">
                            </div>
                            <h5 class="font-weight-bold mb-4">@recipe.recipeName</h5>
                            <a href="RecipeDetail/@recipe.id" class="btn btn-sm btn-secondary">View Now</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No recipes found.</p>
            }

            <a asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>

    </div>
</div>
<!-- Products End -->